/*Estilos generales para la pagina*/
body {
    background-color: black;
    color: white;
}

header{
    background-color: #98000076;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*login*/
.body_login{
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_login{
    background-color: #383737b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 25rem;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #c70404a2;
}

h1{
    font-size: 2rem;
    color: rgba(224, 3, 3, 0.87);
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(224, 3, 3, 0.87);
}

input{
    width: 12rem;
    background-color: white;
}

/*--------------index.xsl---------------*/
.logo {
    width: 10rem;
    border-radius: 5px;
}

.contenedor_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: white;
}

button{
    background-color: #c70404a2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ff39392f;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
    background-color: rgb(160, 43, 43);
}

nav a{
    border: 1px solid #ff000044;
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 1rem;
}

h2{
    text-align: center;
    background-color: rgba(184, 5, 5, 0.562);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_artistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.artista{
    width: 20rem;
    min-width: 25rem;
}

.imagen_artista{
    width: 100%;
    border-radius: 10px;
}

.contenedor_albumes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.album{
    width: 20rem;
    min-width: 25rem;
}

.imagen_album{
    width: 100%;
    border-radius: 10px;
}

/*--------------artistas.xsl------------*/

/* Estilo para cada tarjeta de artista */
.tarjeta-artista {
    background-color: #181818;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


/*--------------cancion.xsl------------*/
.contenedor_canciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.cancion{
    padding: 2rem;
    background-color: #a547479d;
    border-radius: 12px;
    width: 20%;
    margin-bottom: 1rem;
}



/*Estilo para el footer*/

.contenedor_footer{
    background-color: #b304047c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 6000px;
    padding: 20px;
}
.creative_commons {
    width: 10.5rem;
    height: 3.5rem;
    max-width: 80%;
    order: 1;
}

.texto_contenedor_footer {
    text-align: center;
    font-size: 25px;
    order: 2;
}

.imagenes_contenedor_footer {
    text-align: center;
    order: 3;
}

.imagenes_redessociales {
    width: 4rem;
    height: 4rem;
}

.imagenes_redessociales:hover {
    filter: grayscale(100%);
}